.security-section {
  width: 90%;
  padding: 80px 40px;
  text-align: center;
  background: #fff;
  align-self: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.security-heading {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 60px;
  color: #111;
}

/* Badge Row */
.badges-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}

/* Each Badge */
.badge img {
  width: 110px;
  height: 110px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

/* Hover Effect */
.badge img:hover {
  transform: scale(1.1);
}